@model Sisa.Identity.Infrastructure.EmailTemplates.ResetPasswordModel;

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Reset Password - Sisa Co., Ltd</title>
    <meta name="description" content="Reset Password - Sisa Co., Ltd" />
    <meta name="author" content="Sang Au" />

    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta property="og:title" content="Reset Password - Sisa Co., Ltd" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sisa.io" />
  </head>

  <body>
    <div>
      <p>
        Dear @Model.FullName,
      </p>
      <p>
        You recently requested to reset your @Model.OrgName password.
        Please click the button below to reset your password securely:
      </p>
      <a href="@Model.ResetPasswordUrl">Reset Password</a>
      <p>
        If the button above doesn't work,
        please copy and paste the following link into your browser's address bar:
      </p>
      <p>@Model.ResetPasswordUrl</p>
      <p>
        Please note that this link will expire in 24 hours for security purposes.
        If you did not request a password reset,
        please ignore this email and contact our support team immediately at <a href="mailto:@Model.ContactEmail">@Model.ContactName</a>.
      </p>
      <br />
      <p>
        Best regards,
        <br />
        @Model.ContactName
      </p>
    </div>
  </body>
</html>